{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Main CSS -->
        <link href="{% static 'website/assets/css/main.css' %}" rel="stylesheet" >
        <title>Logistics & transportation shipping website template</title>
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navigation">
        <!-- PRELOADER STARTS
            ========================================================================= -->
        <div id="main-preloader" class="main-preloader semi-dark-background">
            <div class="main-preloader-inner center">
                <h1 class="preloader-percentage center">
                    <span class="preloader-percentage-text">0</span> <!-- Show Percentage Number -->
                    <span class="percentage">%</span>
                </h1>
                <div class="preloader-bar-outer">
                    <div class="preloader-bar"></div>
                    <!-- Percentage Precess Bar -->
                </div>
            </div>
        </div>
        <!-- /.. PRELOADER ENDS
            ========================================================================= -->
        <!-- NAVIGATION STARTS
            ========================================================================= -->
        <nav id="navigation" class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand white-logo" href="index.html"><img src="{% static 'website/assets/imgs/logo-white.png' %}" class="img-fluid" alt="" ></a>
                <a class="navbar-brand black-logo" href="index.html"><img src="{% static 'website/assets/imgs/logo.png' %}" class="img-fluid" alt="" ></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html" >About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="our-services.html">
                            Services <i class="las la-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="our-services.html">Services</a></li>
                                <li><a class="dropdown-item" href="services-detail.html">Services Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gallery.html">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="team.html">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pricing.html">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="blog.html">
                            Blog <i class="las la-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="blog.html">Blog Page</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-right-sidebar.html">Single Post 01</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-left-sidebar.html">Single Post 02</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-without-sidebar.html">Single Post 03</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <span class="ps-3 d-none d-lg-block">
                    <a href="https://themeforest.net/item/this-one-one-page-responsive-website-template/7236268?ref=alia" class="btn btn-primary" target="_blank">BUY NOW</a>
                    </span>
                </div>
            </div>
        </nav>
        <!-- /.. NAVIGATION ENDS
            ========================================================================= -->
        <!-- INNER BANNER STARTS
            ========================================================================= -->
        <div class="inner-banner-style blog-post-banner" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info text-center animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="lrline pb-3"><span>transportation</span></div>
                            <h2>
                                For the First Time, Lilly Pulitzer <br class="d-none d-lg-block" >
                                Hosts a Resort Preview
                            </h2>
                            <ul class="meta">
                                <li>
                                    <a href=""><i class="las la-user-alt"></i> John</a>
                                </li>
                                <li>
                                    <a href=""><i class="las la-calendar"></i> 10 Jan, 2020</a>
                                </li>
                                <li>
                                    <a href=""><i class="lar la-comment"></i> 3</a>
                                </li>
                                <li>
                                    <a href=""><i class="lar la-eye"></i> 5.5K</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. INNER BANNER ENDS
            ========================================================================= -->

        {% block 'contenu_principal' %}

        {% endblock %}


        {% include 'website/partials/footer.html' %}


        <!-- TO TOP STARTS
            ========================================================================= -->
        <a href="#top" class="back-to-top"><i class="las la-angle-up"></i></a>
        <!-- /.. TO TOP ENDS
            ========================================================================= -->
        <!-- INCLUD ALL JS FILES 
            ========================================================================= -->
        {% block 'script' %}
                {% include 'website/partials/script_index.html'  %}
        {% endblock %}
    </body>
</html>