{% load static %}
        <!-- SINGLE BLOG POST STARTS
            ========================================================================= -->
        <section class="blog blog-inner-page">
            <div class="container">
                <div class="row">
                    <!-- Left Column Starts-->
                    <div class="col-12 col-lg-9 pe-3 pe-lg-5">
                        <div class="blog-post-detail">
                            <!-- Post Details Starts -->
                            <div class="pic pb-4 animated" data-animation="fadeInUp" data-animation-delay="300">
                                <img src="{% static 'website/assets/imgs/blog/big/1.jpg' %}" class="img-fluid" alt="" >
                            </div>
                            <h2 class="pt-3 pb-3 animated" data-animation="fadeInUp" data-animation-delay="400">Cepteur sint occaecat cupidatat proident taken possession</h2>
                            <p class=" animated" data-animation="fadeInUp" data-animation-delay="500">
                                Cepteur sint occaecat cupidatat proident, taken possession
                                of my entire soul, like these sweet mornings of
                                springCepteur sint occaecat cupidt proident, taken
                                possession of my entire soul.<br><br>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <blockquote class="blockquote mt-4 mb-4 animated" data-animation="fadeInUp" data-animation-delay="600">
                                <p>Cepteur sint occaecat cupidatat proident, taken possession of my entire soul, like these sweet mornings of springCepteur sint occaecat cupidt proident, taken possession of my entire soul</p>
                            </blockquote>
                            <div class="row pt-4 pb-4">
                                <div class="col-12 col-lg-6 animated" data-animation="fadeInUp" data-animation-delay="100">
                                    <div class="pic">
                                        <img src="{% static 'website/assets/imgs/blog/big/2.jpg' %}" class="img-fluid" alt="" >
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 ps-3 ps-lg-5 pt-4 pt-lg-0 animated" data-animation="fadeInUp" data-animation-delay="200">
                                    <h3>Cepteur sint occaecat cupidatat proident</h3>
                                    <p>
                                        Cepteur sint occaecat cupidatat proident, taken possession
                                        of my entire soul, like these sweet mornings.
                                    </p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lorem ipsum dolor sit amet</li>
                                        <li class="list-group-item">Facilisis in pretium nisl aliquet</li>
                                        <li  class="list-group-item">
                                            Nulla volutpat aliquam velit
                                            <ul class=" list-group-flush">
                                                <li  class="list-group-item">Phasellus iaculis neque</li>
                                                <li  class="list-group-item">Purus sodales ultricies</li>
                                            </ul>
                                        </li>
                                        <li  class="list-group-item">Faucibus porta lacus fringilla vel</li>
                                        <li  class="list-group-item">Eget porttitor lorem</li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="pt-3 animated" data-animation="fadeInUp" data-animation-delay="300">Cepteur sint occaecat cupidatat proident</h3>
                            <p class="animated" data-animation="fadeInUp" data-animation-delay="350">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <!-- Tags & Share Start -->
                            <div class="row pt-4 pb-4 animated" data-animation="fadeInUp" data-animation-delay="400">
                                <div class="col-12 col-lg-6">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="las la-tags pt-2"></i></li>
                                        <li class="list-inline-item"><a href="#">UI/UX</a></li>
                                        <li class="list-inline-item"><a href="#">Technology</a></li>
                                        <li class="list-inline-item"><a href="#">Graphics</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="las la-share-alt"></i></li>
                                        <li class="list-inline-item"><a href="#">Facebook</a></li>
                                        <li class="list-inline-item"><a href="#">Twitter</a></li>
                                        <li class="list-inline-item"><a href="#">Linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Tags & Share Ends -->
                        </div>
                        <!-- Post Details Ends -->
                        <!-- About Author Starts -->
                        <div class="light-grey-bg p-4 animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <img src="{% static 'website/assets/imgs/blog/author/author.jpg' %}" class="img-fluid" alt="...">
                                </div>
                                <div class="col-9">
                                    <h3>About Author</h3>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="las la-share-alt"></i></li>
                                        <li class="list-inline-item"><a href="#">Facebook</a></li>
                                        <li class="list-inline-item"><a href="#">Twitter</a></li>
                                        <li class="list-inline-item"><a href="#">Linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- About Author Ends -->
                        <!-- Comments Starts -->
                        <div class="row comments pt-5 pb-5 animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="col-12">
                                <h3>Comments</h3>
                                <ul class="list-group list-group-flush">
                                    <!-- 1st Comments Starts -->
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-3 col-md-2 col-lg-1 p-0"><img src="{% static 'website/assets/imgs/blog/comments/1.jpg' %}" class="img-fluid" alt="..."></div>
                                            <div class="col-9 col-md-10 col-lg-11 ps-4">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h4 class="mb-1">John Doe</h4>
                                                    <small>2 hours ago</small>
                                                </div>
                                                <p class="mt-2">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen</p>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <!-- Reply Starts -->
                                        <ul class="list-group list-group-flush ps-4">
                                            <!-- 1st Reply Starts -->
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-3 col-md-2 col-lg-1 p-0"><img src="{% static 'website/assets/imgs/blog/comments/2.jpg' %}" class="img-fluid" alt="..."></div>
                                                    <div class="col-9 col-md-10 col-lg-11 ps-4">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h4 class="mb-1">John Doe</h4>
                                                            <small>2 hours ago</small>
                                                        </div>
                                                        <p class="mt-2">Ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen</p>
                                                        <a href="#">Reply</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 1st Reply Starts -->
                                        </ul>
                                        <!-- Reply Ends -->
                                    </li>
                                    <!-- 1st Comments Ends -->
                                    <!-- 2nd Comments Starts -->
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-3 col-md-2 col-lg-1 p-0"><img src="{% static 'website/assets/imgs/blog/comments/3.jpg' %}" class="img-fluid" alt="..."></div>
                                            <div class="col-9 col-md-10 col-lg-11 ps-4">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h4 class="mb-1">John Doe</h4>
                                                    <small>3 hours ago</small>
                                                </div>
                                                <p class="mt-2">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen</p>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- 2nd Comments Ends -->
                                    <!-- 2nd Comments Starts -->
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-3 col-md-2 col-lg-1 p-0"><img src="{% static 'website/assets/imgs/blog/comments/4.jpg' %}" class="img-fluid" alt="..."></div>
                                            <div class="col-9 col-md-10 col-lg-11 ps-4">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h4 class="mb-1">John Doe</h4>
                                                    <small>4 hours ago</small>
                                                </div>
                                                <p class="mt-2">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen</p>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- 2nd Comments Ends -->
                                </ul>
                            </div>
                        </div>
                        <!-- Comments Ends -->
                        <!-- Post Comments Starts -->
                        <div class="row post-comment pb-5 animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="col-12">
                                <h3>Post Comment</h3>
                                <div class="row g-4">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="name" placeholder="Enter your name">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="email" class="form-control" id="website" placeholder="Enter your website" >
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" id="comment" placeholder="Enter your comment" rows="3"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Post Comments Ends -->
                    </div>
                    <!-- Left Column Ends-->
                    <!-- Right Column Starts-->
                    <div class="col-12 col-lg-3 sidebar pt-5 pt-lg-0">
                        <!-- Search Starts -->
                        <div class="search animated" data-animation="fadeInUp" data-animation-delay="200">
                            <h2>Search</h2>
                            <div class="searchform3">
                                <form id="search3">
                                    <input type="text" class="form-control s" id="s3" placeholder="Type your keywork">
                                    <button type="submit" class="sbtn3"><i class="las la-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Search Ends -->
                        <!-- Categories Starts -->
                        <div class="categories animated" data-animation="fadeInUp" data-animation-delay="300">
                            <h2>Categories</h2>
                            <ul>
                                <li class="clearfix">
                                    <div class="info">
                                        <h2><a href="">Web Development</a></h2>
                                        <h3>Lorem ipsum dolor sit amet</h3>
                                    </div>
                                    <div class="posts">[30]</div>
                                </li>
                                <li class="clearfix">
                                    <div class="info">
                                        <h2><a href="">Multipurpose Site</a></h2>
                                        <h3>Consectetur adipisicing elit sed</h3>
                                    </div>
                                    <div class="posts">[19]</div>
                                </li>
                                <li class="clearfix">
                                    <div class="info">
                                        <h2><a href="">Technology</a></h2>
                                        <h3>Eiusmod tempor incididunt ut</h3>
                                    </div>
                                    <div class="posts">[40]</div>
                                </li>
                                <li class="clearfix">
                                    <div class="info">
                                        <h2><a href="">Free Support</a></h2>
                                        <h3>Laboris nisi ut aliquip ex ea</h3>
                                    </div>
                                    <div class="posts">[28]</div>
                                </li>
                            </ul>
                        </div>
                        <!-- Categories Ends -->
                        <!-- Posts Tabs Starts -->
                        <div class="posts-tabs animated" data-animation="fadeInUp" data-animation-delay="100">
                            <!-- Nav tabs -->
                            <ul class="nav" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="popular-tab" data-bs-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Popular</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="recent-tab" data-bs-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                                    <ul>
                                        <li class="clearfix">
                                            <div class="picture"><img src="{% static 'website/assets/imgs/blog/popular-posts/1.jpg' %}" width="72" height="72" alt="" ></div>
                                            <div class="info">
                                                <div class="caption"><a href="">Cepteur sint occae cat cupidatat proident ...</a></div>
                                                <div class="date">Jan 03, 2021</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="picture"><img src="{% static 'website/assets/imgs/blog/popular-posts/2.jpg' %}" width="72" height="72" alt="" ></div>
                                            <div class="info">
                                                <div class="caption"><a href="">Nunc molestie sapien tempor placerat ...</a></div>
                                                <div class="date">Jan 03, 2021</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="picture"><img src="{% static 'website/assets/imgs/blog/popular-posts/3.jpg' %}" width="72" height="72" alt="" ></div>
                                            <div class="info">
                                                <div class="caption"><a href="">Lorem ipsum dolor sit amet consectetur ...</a></div>
                                                <div class="date">Jan 03, 2021</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="picture"><img src="{% static 'website/assets/imgs/blog/popular-posts/4.jpg' %}" width="72" height="72" alt="" ></div>
                                            <div class="info">
                                                <div class="caption"><a href="">Nunc molestie sapien tempor placerat ...</a></div>
                                                <div class="date">Jan 03, 2021</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                                    <ul>
                                        <li class="clearfix">
                                            <div class="picture"><img src="{% static 'website/assets/imgs/blog/popular-posts/5.jpg' %}" width="72" height="72" alt="" ></div>
                                            <div class="info">
                                                <div class="caption"><a href="">Nunc molestie sapien tempor placerat ...</a></div>
                                                <div class="date">Jan 03, 2021</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="picture"><img src="{% static 'website/assets/imgs/blog/popular-posts/6.jpg' %}" width="72" height="72" alt="" ></div>
                                            <div class="info">
                                                <div class="caption"><a href="">Nunc molestie sapien tempor placerat ...</a></div>
                                                <div class="date">Jan 03, 2021</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="picture"><img src="{% static 'website/assets/imgs/blog/popular-posts/7.jpg' %}" width="72" height="72" alt="" ></div>
                                            <div class="info">
                                                <div class="caption"><a href="">Nunc molestie sapien tempor placerat ...</a></div>
                                                <div class="date">Jan 03, 2021</div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="picture"><img src="{% static 'website/assets/imgs/blog/popular-posts/8.jpg' %}" width="72" height="72" alt="" ></div>
                                            <div class="info">
                                                <div class="caption"><a href="">Nunc molestie sapien tempor placerat ...</a></div>
                                                <div class="date">Jan 03, 2021</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Posts Tabs Ends -->
                        <!-- About Us Starts -->
                        <div class="about animated" data-animation="fadeInUp" data-animation-delay="100">
                            <h2>About Us</h2>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
                        </div>
                        <!-- About Us Ends -->
                        <!-- Photos Starts -->
                        <div class="photos animated" data-animation="fadeInUp" data-animation-delay="200">
                            <h2>Photos</h2>
                            <div class="row popup-gallery">
                                <div class="col-4"><a href="{% static 'website/assets/imgs/sidebar/gallery/1.jpg' %}" title="Pic Caption"><img src="{% static 'website/assets/imgs/sidebar/gallery/1.jpg' %}" class="img-fluid" alt=""></a></div>
                                <div class="col-4"><a href="{% static 'website/assets/imgs/sidebar/gallery/2.jpg' %}" title="Pic Caption"><img src="{% static 'website/assets/imgs/sidebar/gallery/2.jpg' %}" class="img-fluid" alt=""></a></div>
                                <div class="col-4"><a href="{% static 'website/assets/imgs/sidebar/gallery/3.jpg' %}" title="Pic Caption"><img src="{% static 'website/assets/imgs/sidebar/gallery/3.jpg' %}" class="img-fluid" alt=""></a></div>
                                <div class="col-4"><a href="{% static 'website/assets/imgs/sidebar/gallery/4.jpg' %}" title="Pic Caption"><img src="{% static 'website/assets/imgs/sidebar/gallery/4.jpg' %}" class="img-fluid" alt=""></a></div>
                                <div class="col-4"><a href="{% static 'website/assets/imgs/sidebar/gallery/5.jpg' %}" title="Pic Caption"><img src="{% static 'website/assets/imgs/sidebar/gallery/5.jpg' %}" class="img-fluid" alt=""></a></div>
                                <div class="col-4"><a href="{% static 'website/assets/imgs/sidebar/gallery/6.jpg' %}" title="Pic Caption"><img src="{% static 'website/assets/imgs/sidebar/gallery/6.jpg' %}" class="img-fluid" alt=""></a></div>
                                <div class="col-4"><a href="{% static 'website/assets/imgs/sidebar/gallery/7.jpg' %}" title="Pic Caption"><img src="{% static 'website/assets/imgs/sidebar/gallery/7.jpg' %}" class="img-fluid" alt=""></a></div>
                                <div class="col-4"><a href="{% static 'website/assets/imgs/sidebar/gallery/8.jpg' %}" title="Pic Caption"><img src="{% static 'website/assets/imgs/sidebar/gallery/8.jpg' %}" class="img-fluid" alt=""></a></div>
                                <div class="col-4"><a href="{% static 'website/assets/imgs/sidebar/gallery/9.jpg' %}" title="Pic Caption"><img src="{% static 'website/assets/imgs/sidebar/gallery/9.jpg' %}" class="img-fluid" alt=""></a></div>
                            </div>
                        </div>
                        <!-- Photos Ends -->
                        <!-- Tags Starts -->
                        <div class="tags animated" data-animation="fadeInUp" data-animation-delay="300">
                            <h2>Tags</h2>
                            <div class="tag-list">                                        
                                <a href="#" >Website</a> 
                                <a href="#" >Responsive</a>
                                <a href="#" >Multipurpose</a>
                                <a href="#" >SEO</a>
                                <a href="#" >Wordpress</a>
                                <a href="#" >Clean Design</a>
                                <a href="#" >Multipages</a>
                            </div>
                        </div>
                        <!-- Tags Ends -->
                    </div>
                    <!-- Right Column Ends-->
                </div>
            </div>
        </section>
        <!-- /.. SINGLE BLOG POST ENDS
            ========================================================================= -->