{% load static %}
        <!-- JOIN US STARTS
            ========================================================================= -->
        <section class="join-us rich-bg text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="lrline pb-3"><span>LET's Connect</span></div>
                            <h2>Ready to Ship with Confidence?</h2>
                            <h5 class="pt-2">Effortless Cargo Shipping: Solutions for Businesses of all sizes</h5>
                        </div>
                        <ul class="pt-4">
                            <li><a href="#" class="btn btn-secondary  animated" data-animation="fadeInUp" data-animation-delay="200">GET A QUOTE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. JOIN US ENDS
            ========================================================================= -->