{% if connect_section %}
<section class="join-us rich-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="herotext animated" 
                     data-animation="fadeInUp" 
                     data-animation-delay="100">

                    <div class="lrline pb-3">
                        <span>
                            {{ connect_section.title }}
                        </span>
                    </div>

                    <h2>
                        {{ connect_section.subtitle_title }}
                    </h2>

                    {% if connect_section.second_title %}
                    <h5 class="pt-2">
                        {{ connect_section.second_title }}
                    </h5>
                    {% endif %}
                </div>

                <ul class="pt-4">
                    <li>
                        <a href="{{ connect_section.adressage|default:'#' }}"
                           class="btn btn-secondary animated"
                           data-animation="fadeInUp"
                           data-animation-delay="200">
                            {{ connect_section.text_button|default:"GET A QUOTE" }}
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
{% endif %}
