{% load static %}
        <!-- SERVICES STARTS
            ========================================================================= -->	
        <section class="services-details" id="services">
            <div class="container">
                <div class="row">
                    <!-- Left Column Starts-->
                    <div class="col-lg-3">
                        <!-- Services List Starts -->
                        <div class="services-list animated" data-animation="fadeInUp" data-animation-delay="200">
                            <ul>
                                <li><a href="#">Air Freight <i class="las la-arrow-right"></i></a></li>
                                <li class="active"><a href="#">Maritime Freight <i class="las la-arrow-right"></i></a></li>
                                <li><a href="#">Ground Freight <i class="las la-arrow-right"></i></a></li>
                                <li><a href="#">Home Delivery <i class="las la-arrow-right"></i></a></li>
                                <li><a href="#">Warehouse <i class="las la-arrow-right"></i></a></li>
                                <li><a href="#">Air Freight <i class="las la-arrow-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- Services List Ends -->
                        <div class="support pt-5">
                            <img src="{% static 'website/assets/imgs/about/support.jpg' %}" class="img-fluid" alt="" >
                            <div class="info">
                                <div class="icon"><i class="las la-phone"></i></div>
                                <div class="number">
                                    <h4>Customer care?</h4>
                                    <div><a href="tel:+12345678910">+1 234 567 8910</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Left Column Ends -->
                    <!-- Right Column Starts-->
                    <div class="col-lg-8 offset-lg-1">
                        <div class="text-left">
                            <h3 class="pb-3">Business consulting services</h3>
                            <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            <div class="pic pb-3 pt-3">
                                <img src="{% static 'website/assets/imgs/blog/big/1.jpg' %}" class="img-fluid" alt="" >
                            </div>
                            <p>
                                Cepteur sint occaecat cupidatat proident, taken possession
                                of my entire soul, like these sweet mornings of
                                springCepteur sint occaecat cupidt proident, taken
                                possession of my entire soul.<br><br>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <div class="home-features pt-4">
                                <div class="block ps-0">
                                    <h3 class="pb-3">Lorem Ipsum is simply dummy text</h3>
                                    <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                    <div class="accordion pt-3" id="accordionExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Website & Mobile App Design
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    Cepteur sint occaecat cupidatat proident, taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart and feel the charm of existence in this spot, which was created for the bliss of souls.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Motion Graphics & Animations
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    Cepteur sint occaecat cupidatat proident, taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart and feel the charm of existence in this spot, which was created for the bliss of souls.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                User Experience
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    Cepteur sint occaecat cupidatat proident, taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart and feel the charm of existence in this spot, which was created for the bliss of souls.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="pb-3 pt-5">Cepteur sint occaecat</h3>
                            <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            <p>
                                Cepteur sint occaecat cupidatat proident, taken possession
                                of my entire soul, like these sweet mornings of
                                springCepteur sint occaecat cupidt proident.
                            </p>
                            <ul class="list-styled">
                                <li>This is a list.</li>
                                <li>It appears completely unstyled.</li>
                                <li>Structurally, it's still a list.</li>
                                <li>However, this style only applies to immediate child elements.</li>
                                <li>
                                    Nested lists:
                                    <ul>
                                        <li>are unaffected by this style</li>
                                        <li>will still show a bullet</li>
                                        <li>and have appropriate left margin</li>
                                    </ul>
                                </li>
                                <li>This may still come in handy in some situations.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Right Column Ends -->
                </div>
            </div>
        </section>
        <!-- /.. SERVICES ENDS
            ========================================================================= -->
        <!-- JOIN US STARTS
            ========================================================================= -->
            <section class="join-us rich-bg text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="herotext animated" data-animation="fadeInUp" data-animation-delay="100">
                                <div class="lrline pb-3"><span>LET's Connect</span></div>
                                <h2>Ready to Ship with Confidence?</h2>
                                <h5 class="pt-2">Effortless Cargo Shipping: Solutions for Businesses of all sizes</h5>
                            </div>
                            <ul class="pt-4">
                                <li><a href="#" class="btn btn-secondary  animated" data-animation="fadeInUp" data-animation-delay="200">GET A QUOTE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.. JOIN US ENDS
                ========================================================================= -->