{% load static %}
<!-- TEAM STARTS
            ========================================================================= -->
        <section class="team light-grey-bg mt-3" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext text-center pb-5  animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="lrline pb-3"><span>Our Team</span></div>
                            <h2>Meet our the best crew</h2>
                            <h5 class="pt-2">Whatever item needs to be delivered or shipped, we're capable to do that!</h5>
                        </div>
                    </div>
                </div>
                <div class="team-carousel animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/1.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>John</h2>
                            <h6>CEO</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                                <li><a href=""><i class="lab la-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/2.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Abigail</h2>
                            <h6>Director</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-linkedin-in"></i></a></li>
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/3.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Anderson</h2>
                            <h6>Manager</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/4.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Donna</h2>
                            <h6>Analyst</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/5.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Bailey</h2>
                            <h6>Manager</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. TEAM ENDS
            ========================================================================= -->
