{% load static %}

{% if since_section %}
<section class="home-intro" id="about">
    <div class="container">

        <!-- Image + texte -->
        <div class="row align-items-center pb-5">
            <div class="col-12 col-lg-5 pt-4 pt-lg-0 animated" data-animation="fadeInUp" data-animation-delay="350">
                {% if since_section.image %}
                    <img src="{{ since_section.image.url }}" class="img-fluid pic" alt="{{ since_section.title }}">
                {% else %}
                    <img src="{% static 'assets/imgs/about/pic1.png' %}" class="img-fluid pic" alt="About Image">
                {% endif %}
            </div>

            <div class="col-12 col-lg-6 offset-lg-1">
                <div class="herotext animated" data-animation="fadeInUp" data-animation-delay="100">
                    <div class="rightline pb-3">
                        <span>{{ since_section.title }}</span>
                    </div>

                    <h2>{{ since_section.subtitle_title }}</h2>

                    {% if since_section.description %}
                    <h5 class="pt-2">
                        {{ since_section.description|linebreaksbr }}
                        <br><br>
                        <strong>{{ since_section.name }}</strong><br>
                        {{ since_section.job }}
                    </h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
