{% load static %}

<!-- SERVICES STARTS -->
<section class="home-intro pb-1">
    <div class="container">
        <div class="row">
            {% for block in services_blocks %}
            <div class="col-12 col-lg-4">
                <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="{{ forloop.counter0|add:'2' }}00">
                    <div class="pt-1 pb-5">
                        <div class="info">
                            <div class="icon">
                                {% if block.icon %}
                                    <img src="{{ block.icon.url }}" alt="{{ block.title }}">
                                {% else %}
                                    <img src="{% static 'website/assets/imgs/about/default.svg' %}" alt="{{ block.title }}">
                                {% endif %}
                            </div>
                            <div class="text">
                                <h4>{{ block.title }}</h4>
                                <div>{{ block.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Aucun service disponible pour le moment.</p>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /. SERVICES ENDS -->
