{% load static %}

        <!-- ABOUT US STARTS
            ========================================================================= -->	
        <section class="home-intro pb-1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="{% static 'website/assets/imgs/about/1.svg' %}" alt=""></div>
                                    <div class="text">
                                        <h4>100% Satifaction</h4>
                                        <div>Lorem Ipsum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="{% static 'website/assets/imgs/about/3.svg' %}" alt=""></div>
                                    <div class="text">
                                        <h4>Fast Delivery</h4>
                                        <div>Lorem Ipsum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="{% static 'website/assets/imgs/about/2.svg' %}" alt=""></div>
                                    <div class="text">
                                        <h4>24x7 Service</h4>
                                        <div>Lorem Ipsumy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /. ABOUT US ENDS
            ========================================================================= -->
