
        {% load static %}
            <!-- BLOG STARTS
                ========================================================================= -->
            <section class="blog light-brown-bg" id="blog">
                <div class="container">
                <div class="row">
                    <div class="col-12">
                    <div class="herotext text-center  animated" data-animation="fadeInUp" data-animation-delay="100">
                        <div class="lrline pb-3"><span>Stay Informed</span></div>
                        <h2>Latest news & insights</h2>
                        <h5 class="pt-2">Whatever item needs to be delivered or shipped, we're capable to do that!</h5>
                    </div>
                    </div>
                </div>
                <div class="row pt-5 g-0 g-lg-5">
                    <div class="col-12 col-md-4">
                    <div class="blog-post  animated" data-animation="fadeInUp" data-animation-delay="300">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/blog/1.jpg' %}" class="img-fluid" alt=""></div>
                        <h4><a href="blog.html">Inspiration</a></h4>
                        <h2><a href="single-blog-post-right-sidebar.html">Single Blog Post with Right Sidebar</a></h2>
                        <p>Cepteur sint occaecat cupidatat proident, taken possession of my entire soul, like these sweet mornings ...</p>
                        <ul class="meta">
                        <li>
                            <a href=""><i class="las la-user-alt"></i> John</a>
                        </li>
                        <li>
                            <a href=""><i class="las la-calendar"></i> 10 Jan, 2020</a>
                        </li>
                        <li>
                            <a href=""><i class="lar la-comment"></i> 3</a>
                        </li>
                        <li>
                            <a href=""><i class="lar la-eye"></i> 5.5K</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-12 col-md-4">
                    <div class="blog-post  animated" data-animation="fadeInUp" data-animation-delay="500">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/blog/2.jpg' %}" class="img-fluid" alt=""></div>
                        <h4><a href="blog.html">Inspiration</a></h4>
                        <h2><a href="single-blog-post-left-sidebar.html">Single Blog Post with Left Sidebar</a></h2>
                        <p>Possession of my entire soul, like these sweet mornings of spring, taken possession of my entire soul ...</p>
                        <ul class="meta">
                        <li>
                            <a href=""><i class="las la-user-alt"></i> John</a>
                        </li>
                        <li>
                            <a href=""><i class="las la-calendar"></i> 10 Jan, 2020</a>
                        </li>
                        <li>
                            <a href=""><i class="lar la-comment"></i> 3</a>
                        </li>
                        <li>
                            <a href=""><i class="lar la-eye"></i> 5.5K</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-12 col-md-4">
                    <div class="blog-post  animated" data-animation="fadeInUp" data-animation-delay="700">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/blog/3.jpg' %}" class="img-fluid" alt=""></div>
                        <h4><a href="blog.html">Inspiration</a></h4>
                        <h2><a href="single-blog-post-without-sidebar.html">Single Blog Post without Sidebar</a></h2>
                        <p>Taken possession of my entire soul, like these sweet mornings of springCepteur sint occaecat cuatat ...</p>
                        <ul class="meta">
                        <li>
                            <a href=""><i class="las la-user-alt"></i> John</a>
                        </li>
                        <li>
                            <a href=""><i class="las la-calendar"></i> 10 Jan, 2020</a>
                        </li>
                        <li>
                            <a href=""><i class="lar la-comment"></i> 3</a>
                        </li>
                        <li>
                            <a href=""><i class="lar la-eye"></i> 5.5K</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="row pt-3 pt-lg-5">
                    <div class="col-12 text-center  animated" data-animation="fadeInUp" data-animation-delay="900"><a href="blog.html" class="btn btn-primary">VIEW ALL POSTS</a></div>
                </div>
                </div>
            </section>
            <!-- /.. BLOG ENDS
                ========================================================================= -->