{% load static %}
        <!-- VIDEO STARTS
            ========================================================================= -->
        <section class="video bg-img text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 animated" data-animation="fadeInUp" data-animation-delay="100">
                        <h6><a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="las la-play"></i>&nbsp;</a></h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. VIDEO ENDS
            ========================================================================= -->